body {
  background-color:#35654D;
  margin-bottom:75px;
  margin-left:0px;
  margin-right:0px;
}
.header {
  display:flex;
  flex-direction:column;
  justify-content:center;
  background-image:url("https://i.insider.com/529f4c82ecad043a6958f3fc?width=694&format=jpeg");
}
.footer {
  display:flex;
  justify-content:center;
  position:fixed;
  bottom:0px;
  width:100%;
  padding:20px;
  background-color:black;
}
#buttons {
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  padding:50px;
}
button {
  padding:10px;
  font-size:1.25em;
  margin:20px;
}
#blackJackGame {
  display:flex;
  flex-direction:column;
  align-items:center;
}
#playerOneCards {
  display:flex;
  flex-direction:column;
  align-items:center;
}
#houseCards {
  display:flex;
  flex-direction:column;
  align-items:center;
}
#results {
  display:flex;
  flex-direction:column;
  align-items:center;
  font-size:2em;
  color:yellow;
}
.head {
  display:flex;
  flex-direction:column;
  align-items:center;
  color:blue;
}
#housePictures {
  display:flex;
  justify-content:space-around;
  align-items:center;
}
#oneCardPictures {
  display:flex;
  justify-content:space-around;
  align-items:center;
}
img {
  padding:20px;
}
